/* Based on the router console css */

body {
    margin: 15px 0 0 10px;
    padding: 0em;
    text-align: center;
    background: #eef;
    color: #000;
    font: 9pt/130% "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
}

iframe {
	border: none;
}

.iframe-body {
    background-color: transparent;
    border: none;
    margin: 0px;
}

.button-frame {
	width: 100%;
	height: 55px;
}

.folders-frame {
    width: 100%;
    height: 160px;
}

.status-frame {
    width: 100%;
    height: 40px;
}

.status-frame-connect {
	text-align: center;
}

.titlebar {
    margin: 0px 20px 20px 240px;
    background-color: #fff;
    color: #310;
    padding: 0 15px 15px 25px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #001;
    text-align: center;
    -moz-box-shadow: inset 0px 0px 1px 0px #002;
    white-space: normal;
    background: #ddf url('images/background.png');
    opacity: 1.0;
}

.title {
    font: normal bold 20pt/120% 'Lucida Sans Unicode', 'Bitstream Vera Sans', Verdana, Tahoma, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0.15em;
    text-shadow: 0px 0px 1px rgba(0, 0, 148, 0.9);
}

.subtitle {
    font-size: 8pt;
    color: #cf0606;
    letter-spacing: 5pt;
    margin-top: 16px;
    text-shadow: 0px 0px 1px rgba(148, 0, 0, 0.9);
}

.pagetitle {
    display: none;
}

.checkmail {
    font: bold 8pt "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
    float: left;
    width: 50%;
}

.compose.frame {
    font: bold 8pt "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
    float: right;
    width: 50%;
}
.compose.float {
    display: none;
}

.lastcheck {
    font: bold 8pt "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
    float: left;
}

.password {
	float: right;
	margin: 5px;
}

.menubox {
    float: left;
    width: 180px;
    margin: 0px 0px 10px 10px;
    padding: 10px;
    text-align: left;
    border: 1px solid #000033;
    background: #ddf url('images/background.png');
    color: #000;
    font-size: 8pt;
    clear: left;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: inset 0px 0px 1px 0px #002;
}

.menubox a:link, .menubox a:visited {
    text-shadow: 0px 0px 1px rgba(0, 0, 32, 0.5);
}

.menubox a:hover {
    text-shadow: 0px 0px 0.5px rgba(255, 255, 255, 0.7);
    color: #f60;
}

.menubox h2 {
    font-size: 12pt;
    color: #001;
    letter-spacing: 0.05em;
    text-shadow: 0px 0px 1px rgba(0, 0, 64, 0.5);
    word-wrap: none;
}

.statusbox {
    font-size: 8pt;
    font-weight: bold;
    text-align: left;
}

.folderbox {
    font-size: 8pt;
    font-weight: bold;
    text-align: left;
}

.menuitem {
    display: block;
}

.menuitem div {
    display: inline-block;
}

.main {
    position: relative;
    margin: 0px 20px 20px 240px;
    padding: 0 15px 15px 25px;
    background: #ddf url('images/background.png');
    color: #001;
    font: 9pt/130% "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
    text-align: left;
    border: 1px solid #000033;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: inset 0px 0px 1px 0px #002;
}

.foldermain {
    padding: 0 15px 15px 15px;
}

.emailmain {
	background: #cce2ff;
}

.infoMessage {
    margin: 5px 0;
    text-align: left;
    color: green;
}
    
.errorMessage {
    margin: 5px 0;
    text-align: left;
    color: red;
}

.stackTrace {
    white-space: pre;
}

.subheading {
    font-weight: bold;
}

.warning {
    color: red;
}
    
img {
    border: none;
}

a:active {
    color: #900;
}

a:link {
    color: #007;
    text-decoration: none;
    font-weight: bold;
    word-wrap: break-word;
}

a:visited {
    color: #606;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #f60;
    text-decoration: underline;
    font-weight: bold;
}

a:active {
    color: #f93;
    text-decoration: underline;
    font-weight: bold;
}

button, button:visited {
    font: bold 8pt "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
    border: 1px outset #999;
    padding: 1px 3px;
    background: #ddf !important;
    text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    margin: 0 1px;
    text-align: center;
    min-width: 80px;
    -moz-box-shadow: inset 0px 2px 8px 0px #fff;
    color: #006;
}

button:hover {
    border: 1px solid #f60;
    background: #f60 !important;
    color: #fff;
    -moz-box-shadow: inset 0px 0px 0px 1px #fff;
}

button:active {
    border: 1px solid #f60;
    background: #001 !important;
    color: #f60;
    -moz-box-shadow: inset 0px 0px 0px 1px #f60;
}

button[disabled] {
    border: 1px outset #999;
    background: #ddf !important;
    color: #666;
    -moz-box-shadow: inset 0px 0px 0px 1px #999;
}

.underline {
    border-bottom: 1px solid #000022;
    padding: 5px 0px 5px 0px;
    margin: 0px 0px 10px 0px;
}

input {
    background: #eef;
    color: #001;
    margin: 5px 10px 5px 10px;
    padding: 4px 2px;
    font: bold 8pt "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
    border: 1px solid #001;
    text-decoration: none;
    min-width: 110px;
}

input, input:visited {
    border: 1px outset #999;
    background: #ddf;
    color: #001;
    margin: 5px;
    font: bold 8pt "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
    padding: 1px 2px;
    text-decoration: none;
    min-width: 110px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-box-shadow: inset 0px 2px 8px 0px #fff;
    color: #006;
    opacity: 0.9;
}

input:hover {
    background: #f60;
    color: #fff;
    border: 1px solid #f60;
    opacity: 1.0;
    -moz-box-shadow: inset 0px 0px 0px 1px #fff;
}

input:active {
    background: #002;
    color: #f60;
    border: 1px solid #f60;
    opacity: 1.0;
    -moz-box-shadow: inset 0px 0px 0px 1px #f60;
}

input[type=text] {
    background: #eef;
    color: #001;
    margin: 5px;
    padding: 5px;
    font: bold 8pt "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
    border: 1px solid #001;
    text-decoration: none;
}

input[type=checkbox] {
    min-width: 10px;   /* for Chrome */
    border: 0 !important;
}

textarea {
    width: 100%;
    padding: 5px;
    margin: 5px;
    background: #eef;
    color: #003;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    font: 9pt/130% "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
    min-height: 100px;
    border: 1px solid #001;
}

submit {
    background: #f00;
    color: #eef;
    margin: 10px 2px 10px 0;
    padding: 2px;
    font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid #001;
    text-decoration: none;
}

select {
    background: #eef;
    color: #003;
    padding: 2px;
    margin: 5px;
    border: 1px solid #001;
    font: 9pt "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    text-align: left !important;
}

table {
    table-layout: fixed;
	width: 100%;
}

table td, th {
    padding-left: 10px;
    padding-top: 3px;
    background: url('images/background.png');
    white-space: nowrap;
    overflow-x: hidden;
}

.even-table-cell td {
    background: url('images/background.png');
}

.odd-table-cell td {
    background: url('images/background-alt.png');
}

.deleteIdentityBtn {
	text-align: right;
}

.addtl-text {
	font-weight: normal;
    font-size: 0.8em;
}

.field-label {
    font-weight: bold;
}

.field-label-multiline {
    font-weight: bold;
    vertical-align: top;
}

.destination {
    color: #003;
    font: 8pt "Lucida Console", "DejaVu Sans Mono", Courier, mono;
    word-wrap: break-word;
}

.hidden-text {
    display: none;
}

.identity-form-label {
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
    font-weight: bold;
}

.identity-form-value {
    top: 0px;
    margin-left: 220px;
    margin-right: 5px;
    margin-top: 10px;
}

.identity-form-checkbox {
    top: 0px;
    margin-left: 220px;
    margin-right: 5px;
    margin-top: 7px;
}

.identity-form-picture img {
    top: 0px;
    margin-left: 220px;
    margin-right: 5px;
    margin-top: 10px;
    width: 100px;
}

.identity-form-text {
    top: 0px;
    margin-left: 220px;
    margin-right: 5px;
    margin-top: 10px;
    white-space: pre;
    font-family: monospace;
    white-space: -pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.identity-buttons {
	text-align: left;
}
	
.identity-delete {
	text-align: right;
}
    
.identity-buttons, .identity-delete {
    display: inline-block;
    width: 250px;
}

.full-identity {
	margin-right: 10px;
	font-weight: bold;
}

.publish-form-label {
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
    font-weight: bold;
}

.publish-form-value {
    top: 0px;
    margin-left: 180px;
    margin-right: 5px;
    margin-top: 10px;
}

.publish-form-value textarea {
    width: 600px;
}

.contact-detail-container {
    margin: 0px auto;
    overflow: hidden;
}

.contact-detail-left {
    width: 100px;
    float: left;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.contact-detail-left img {
    width: 100%;
    padding-bottom: 5px;
}

.contact-detail-text
{
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    white-space: pre;
    font-family: monospace;
    white-space: -pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.contact-detail-dest
{
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    word-wrap: break-word;
}

.contact-form-label {
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
    font-weight: bold;
}

.contact-form-value {
    top: 0px;
    margin-left: 120px;
    margin-right: 5px;
    margin-top: 10px;
}

.contact-form-picture img {
    top: 0px;
    margin-left: 120px;
    margin-right: 5px;
    margin-top: 10px;
    width: 100px;
}

.contact-form-text {
    top: 0px;
    margin-left: 120px;
    margin-right: 5px;
    margin-top: 10px;
    white-space: pre;
    font-family: monospace;
    white-space: -pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.header-column-replied {
    width: 8px;
}

.header-column-from {
	width: 18%;
}

.header-column-known {
    width: 4%;
    text-align: center;
}

.header-column-delivery {
    width: 8%;
    text-align: center;
}

.header-column-to {
    width: 18%;
}

.header-column-subject {
    width: 30%;
}

.header-column-attachment {
    width: 24px;
}

.header-column-date {
    width: 18%;
}

.header-column-status {
    width: 100px;
}

.header-column-trash {
    width: 30px;
}

.header-column-default, .header-column-check-mail {
    width: 24px;
}

.data-column-default {
    text-align: center;
}

.header-column-public-name {
    width: 20%;
}

.header-column-description {
    width: 30%;
}

.header-column-id-email-dest {
    width: 40%;
}

.header-column-check {
    width: 3%;
}

.header-column-name {
    width: 30%;
}

.header-column-addr-email-dest {
    width: 72%;
}

.sig-invalid {
    color: red;
    text-align: center;
}

.anon-sender {
    font-style: italic;
}

.sender-known {
    text-align: center;
}

.deliveryComplete {
    color: green;
    text-align: center;
}

.deliveryIncomplete {
    color: black;
    text-align: center;
}

.folder-item-new a {
	font-weight: bold;
}

.folder-item-old a {
    font-weight: normal;
}

.email-form-button-send {
    position: absolute;
    right: 20px;
    top: 10px;
}

.email-form-button-row {
	top: 0px;
	margin-left: 120px;
    text-align: right;
	width: 585px;
	white-space: nowrap;
}

.email-form-label {
	position: absolute;
	padding-top: 10px;
	padding-left: 5px;
	font-weight: bold;
}

.email-form-recipient-label {
    position: absolute;
}

.email-form-recipient-value {
	top: 0px;
	margin-left: 120px;
	max-width: 600px;
	white-space: nowrap;
}

.email-form-recipient-field {
	width: 475px;
}

.email-form-value {
	top: 0px;
	margin-left: 120px;
	margin-right: 5px;
}

.email-form-subject-field {
	margin-right: 5px;
	width: 567px;
}

.email-form-attach-label {
	position: absolute;
	padding-left: 5px;
}

.email-form-attach-files {
	padding-left: 5px;
	padding-bottom: 3px;
	white-space: nowrap;
}

.email-form-attach-item {
	position: absolute;
	width: 300px;
	overflow-x: hidden;
}

.email-form-attach-size {
	color: #777;
}

.email-form-attach-remove {
	margin-left: 305px;
}

.email-form-attach-small {
    font-size: 0.8em;
    padding-left: 5px;
}

.show-email-value {
    margin-left: 120px;
    margin-right: 5px;
    padding-top: 10px;
    min-height: 1em;
}

.show-email-invalid-sig {
    color: red;
}

.show-email-reply {
    position: absolute;
}

.show-email-delete {
    margin-left: 120px;
}

.password-label {
	position: absolute;
    padding-top: 5px;
}

.password-field {
    margin-left: 115px;
}

.contributor-category {
	font-weight: bold;
}

.contributor-name {
    margin-left: 100px;
    position: absolute;
}

.contributor-role {
	color: #555;
    margin-left: 250px;
    margin-top: 3px;
}

wbr:after { content: "\00200B" }   /* For Opera */

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
