name=i2pbote
signer=str4d@mail.i2p
consoleLinkName=SecureMail
consoleLinkName_de=Sichere.Mail
consoleLinkName_nl=Beveiligde Mail
consoleLinkName_fr=CourrierSécurisé
consoleLinkName_es=CorreoSeguro
consoleLinkName_pt=CorreioSeguro
consoleLinkName_ru=Безопасная почта
consoleLinkName_no=SecureMail #SikkerPost
consoleLinkName_sv=SäkerPost
consoleLinkName_zh=安全电邮
consoleLinkName_ar=بريد الكتروني الآمن
consoleLinkTooltip=Decentralized secure email
consoleLinkTooltip_de=Dezentrale, sichere Mailanwendung
consoleLinkTooltip_nl=Gedecentraliseerde beveiligde email
consoleLinkTooltip_fr=Courrier sécurisé et décentralisé
consoleLinkTooltip_es=Correo electrónico seguro y descentralizado
consoleLinkTooltip_pt=Correio eletrônico seguro e descentralizado
consoleLinkTooltip_ru=Безопасная распределённая почта
consoleLinkTooltip_no=Desentralisert sikker epost
consoleLinkTooltip_sv=Decentraliserad säker e-post
consoleLinkTooltip_zh=安全分布式电子邮件
consoleLinkTooltip_ar=بريد الكتروني الآمن و الغير متمركز
consoleLinkURL=/i2pbote/index.jsp
console-icon=/themes/material/icon.png
websiteURL=http://bote.i2p/
updateURL=http://bote.i2p/i2pbote-update.xpi2p
updateURL.su3=http://bote.i2p/i2pbote-update.su3
description=Decentralized secure email
description_de=Dezentrale, sichere Mailanwendung
description_nl=Gedecentraliseerde beveiligde email
description_fr=Courrier sécurisé et décentralisé
description_es=Correo electrónico seguro y descentralizado
description_pt=Correio eletrônico seguro e descentralizado
description_ru=Безопасная распределённая почта
description_no=Desentralisert sikker epost
description_sv=Decentraliserad säker e-post
description_zh=安全分布式电子邮件
description_ar=بريد الكتروني الآمن و الغير متمركز
license=GPL V3
min-java-version=1.6
min-i2p-version=0.9.24
author=str4d@mail.i2p
