name=i2pbote
signer=HungryHobo@mail.i2p
consoleLinkName=SecureMail
consoleLinkName_de=Sichere.Mail
consoleLinkName_pt=CorreioSeguro
consoleLinkURL=/i2pbote/index.jsp
websiteURL=http://tjgidoycrw6s3guetge3kvrvynppqjmvqsosmtbmgqasa6vmsf6a.b32.i2p/
updateURL=http://tjgidoycrw6s3guetge3kvrvynppqjmvqsosmtbmgqasa6vmsf6a.b32.i2p/i2pbote-update.xpi2p
description=Decentralized secure email
description_de=Dezentrale, sichere Mailanwendung
description_pt=Aplicação de correio eletrônico descentralizado e seguro
license=GPL V3
min-java-version=1.6
author=HungryHobo@mail.i2p
