<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="i2p.bote.android"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk xmlns:tools="http://schemas.android.com/tools"
        tools:overrideLibrary="android.support.v14.preference" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.NFC"/>

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Bote">
        <service android:name=".service.BoteService"/>

        <activity
            android:name=".EmailListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".intro.IntroActivity"
            android:parentActivityName=".EmailListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="i2p.bote.android.EmailListActivity"/>
        </activity>
        <activity
            android:name=".intro.SetupActivity"
            android:label="@string/title_activity_setup"
            android:parentActivityName=".EmailListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="i2p.bote.android.EmailListActivity"/>
        </activity>
        <activity
            android:name=".ViewEmailActivity"
            android:parentActivityName=".EmailListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="i2p.bote.android.EmailListActivity"/>
        </activity>
        <activity
            android:name=".NewEmailActivity"
            android:label="@string/compose"
            android:parentActivityName=".EmailListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="i2p.bote.android.EmailListActivity"/>
        </activity>
        <activity
            android:name=".addressbook.AddressBookActivity"
            android:label="@string/address_book"
            android:parentActivityName=".EmailListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="i2p.bote.android.EmailListActivity"/>
        </activity>
        <activity
            android:name=".addressbook.ViewContactActivity"
            android:parentActivityName=".addressbook.AddressBookActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="i2p.bote.android.addressbook.AddressBookActivity"/>
        </activity>
        <activity
            android:name=".addressbook.EditContactActivity"
            android:label="@string/action_new_contact"
            android:parentActivityName=".addressbook.ViewContactActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="i2p.bote.android.addressbook.ViewContactActivity"/>

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="ext"
                    android:pathPrefix="/i2p.bote:contact"
                    android:scheme="vnd.android.nfc"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".addressbook.AddressBookShipActivity"
            android:parentActivityName=".addressbook.AddressBookActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="i2p.bote.android.addressbook.AddressBookActivity"/>
        </activity>
        <activity
            android:name=".NetworkInfoActivity"
            android:label="@string/network_status"
            android:parentActivityName=".EmailListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="i2p.bote.android.EmailListActivity"/>
        </activity>
        <activity
            android:name=".config.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".EmailListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="i2p.bote.android.EmailListActivity"/>
        </activity>
        <activity
            android:name=".config.SetPasswordActivity"
            android:label="@string/pref_title_change_password"
            android:parentActivityName=".config.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="i2p.bote.android.config.SettingsActivity"/>
        </activity>
        <activity
            android:name=".identities.IdentityListActivity"
            android:label="@string/pref_title_identities"
            android:parentActivityName=".config.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="i2p.bote.android.config.SettingsActivity"/>
        </activity>
        <activity
            android:name=".identities.ViewIdentityActivity"
            android:parentActivityName=".identities.IdentityListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="i2p.bote.android.identities.IdentityListActivity"/>
        </activity>
        <activity
            android:name=".identities.EditIdentityActivity"
            android:label="@string/title_new_identity"
            android:parentActivityName=".identities.ViewIdentityActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".identities.ViewIdentityActivity"/>
        </activity>
        <activity
            android:name=".identities.IdentityShipActivity"
            android:parentActivityName=".identities.IdentityListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="i2p.bote.android.identities.IdentityListActivity"/>
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/help"
            android:parentActivityName=".EmailListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="i2p.bote.android.EmailListActivity"/>
        </activity>

        <provider
            android:name=".provider.AttachmentProvider"
            android:authorities="${applicationId}.attachmentprovider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
        </provider>
    </application>

</manifest>
